@*@page "/"*@
@inherits WeekPage

@if (entries != null)
{
    <div class="weekHeader">
        <div class="column"></div>
        <div style="display: flex; width: 100%">
            <h3>Monday</h3>
            <h3>Tuesday</h3>
            <h3>Wedensday</h3>
            <h3>Thursday</h3>
            <h3>Friday</h3>
            <h3>Saturday</h3>
            <h3>Sunday</h3>
        </div>
    </div>
    <div class="week">
        <TimeColumn StartingHour="startingHour"></TimeColumn>
        <Grid Rows="96" Columns="7" getValue="GetValue" getColor="GetColor" valueChanged="OnValueChange"></Grid>
    </div>
}
