@inherits LayoutComponentBase
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hello, @context.User.Identity.Name</b></h4> &nbsp;
                    <button class="btn btn-danger" @onclick="OnLogout">Logout</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <button class="btn btn-primary" @onclick="OnLogin">Login</button>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private async Task OnLogout()
    {
        await _httpClient.GetAsync("user/logout");
    }

    private void OnLogin()
    {
        _navigationManager.NavigateTo("/");
    }
}
