@page "/"
@using ViewModels
@inject NavigationManager _navManager
@inject ILoginViewModel _loginModel

<h2><b>Login</b></h2>
<hr>

<div class="col-6">
    <input type="text" @bind="_loginModel.EmailAddress" class="form-control" placeholder="email address">
</div>
<br />
<div class="col-6">
    <input type="password" @bind="_loginModel.Password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>

@code {
    public async Task LoginUser()
    {
        await _loginModel.LoginUser();
        _navManager.NavigateTo("/counter", true);
    }
}