@page "/"
@inject ILogin _login
@inject NavigationManager _navigationManager


<h3>Login</h3>

<EditForm Model="_login">
    <label>Email</label>
    <input @bind-value="_login.EmailAddress" />
    <label>Password</label>
    <input @bind-value="_login.Password" type="password" />
    <button @onclick="OnLogin">Login</button>
</EditForm>

@code{

    private bool IsLoggedIn => _login is not null;

    private async Task OnLogin()
    {
        await _login.LoginUser();
        _navigationManager.NavigateTo("/counter", true);
    }
}